version: "3.8"

services:
  app:
    image: danisonediel/reset-password-service:latest
    environment:
      - DATABASE_URL=${DATABASE_URL:-postgresql://auth_user:secret@postgres:5432/auth_db}
      - JWT_SECRET=${JWT_SECRET:-development-jwt-secret}
      - MESSAGE_BROKER_URL=${MESSAGE_BROKER_URL:-kafka://kafka:9092}
      - SMTP_USERNAME=${SMTP_USERNAME:-""}
      - SMTP_PASSWORD=${SMTP_PASSWORD:-""}
      - EMAIL_FROM=${EMAIL_FROM:-"noreply@example.com"}
